html {
    background: url('./background.jpg') top center;
    background-size: cover;
    background-repeat: no-repeat;
}

body,html,h1 {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

body {
    background-color: rgba(255, 255, 255, 0.144);
    background-size: cover;
    min-width: 100vh;
    min-height: 100vh;
}

h1 {
    text-align: center;
    background-color: rgba(245, 0, 0, 0.521);
}

.inside-container {
    min-width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.377);
    margin: 20vh 0 5vh;
    font-size: large;
    color: white;
    text-shadow:
		-1px -1px 0 #090909,
		1px -1px 0 #090909,
		-1px 1px 0 #090909,
		1px 1px 0 #090909;
}

.health-point {
    min-width: 600px;
    display: flex;
    flex-direction: row;
}

.player-hp,.enemy-hp {
    flex: 1;
}

.enemy-hp {
    direction: rtl;
}

.option {
    min-width: 600px;
    display: flex;
    justify-content: space-around;
}

.attack,.counter,.magic {
    padding: .5rem;
    border: 1px solid silver;
    background-color: #090909;
    border-radius: .5rem;
    box-shadow: 0 0 1rem orangered;
    transition: all .1s ease;
}

.attack:hover,.counter:hover,.magic:hover {
    border: 1px solid #090909;
    background-color: silver;
    box-shadow: 0 0 1rem azure;
    color: #090909;
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}


.playing {
    transform: scale(1.3);
}

.give-up {
    margin: 20px 0;
    padding: 5px;
    border-radius: .5rem;
    background-color: rgba(255, 0, 0, 0.527);
}

.give-up:hover {
    transform: scale(1.3);
    background-color: rgba(255, 0, 0, 0.76);
    transition: all .2s ease;
}

.delete {
    opacity: 0;
    transition: all 2s ease;
}

.output {
    min-width: 400px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5vh auto;
}

.output p {
    font-size: large;
}

.output-play {
    background-color: rgba(0, 0, 0, 0.377);
    border: silver 3px solid;
    border-radius: .5rem;
}